<div class="container">
    <button (click)="backToUserlist()" type="submit" class="btn btn-primary mb-2">Back</button>
    <div class="row m-0 border border-black p-3">
        <div class="row">
            <div class="col-md-6 text-left bg-white">
                <form [formGroup]="addUserForm">
                    <div class="form-group mb-2">
                        <label for="name" class="form-label">Name</label><span>*</span>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name"
                            formControlName="name" [required]="true"
                            [ngClass]="{ 'is-invalid': f['name'].touched && f['name'].errors}">
                        <div *ngIf="f['name'].errors && f['name'].touched">
                            <div class="requiredField" *ngIf="f['name'].errors['required']">Name is
                                required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="email" class="form-label">Email</label><span>*</span>
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email"
                            formControlName="email"
                            [ngClass]="{ 'is-invalid': f['email'].touched && f['email'].errors}">
                        <div *ngIf="f['email'].errors && f['email'].touched">
                            <div class="requiredField" *ngIf="f['email'].errors['required']">Email is required.
                            </div>
                            <div class="requiredField" *ngIf="f['email'].errors['email']">Please enter valid email.
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="role" class="form-label">Role</label><span>*</span>
                        <select class="form-control" id="role" placeholder="Enter Role" formControlName="role"
                            [ngClass]="{ 'is-invalid': f['role'].touched && f['role'].errors}">
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        </select>
                        <div *ngIf="f['role'].errors && f['role'].touched">
                            <div class="requiredField" *ngIf="f['role'].errors['required']">Role is required.
                            </div>
                        </div>
                    </div>
                    <button *ngIf="!selectedUserData?.name" (click)="createUser()" type="submit"
                        class="btn btn-success mt-2">Add User</button>
                    <button *ngIf="selectedUserData?.name" (click)="updateUser()" type="submit"
                        class="btn btn-success mt-2">Update User</button>
                </form>
            </div>
        </div>
    </div>
</div>